client/inno-shop/node_modules/

UserManagement/UserManagement.API/bin/
UserManagement/UserManagement.API/obj/
UserManagement/UserManagement.Application/bin/
UserManagement/UserManagement.Application/obj/
UserManagement/UserManagement.Infrastructure/bin/
UserManagement/UserManagement.Infrastructure/obj/
UserManagement/UserManagement.Domain/bin/
UserManagement/UserManagement.Domain/obj/

ProductManagement/ProductManagement.API/bin/
ProductManagement/ProductManagement.API/obj/
ProductManagement/ProductManagement.Application/bin/
ProductManagement/ProductManagement.Application/obj/
ProductManagement/ProductManagement.Infrastructure/bin/
ProductManagement/ProductManagement.Infrastructure/obj/
ProductManagement/ProductManagement.Domain/bin/
ProductManagement/ProductManagement.Domain/obj/

ProductManagement/.vs/
UserManagement/.vs/

*.user
*.suo