
.confirm-email-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
  }
  
  .confirm-email-message {
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  